{% load static %}
<!doctype html>
<html>
<head>
  <meta chaset='utf-8'>
  <title>{% block titile %}{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel='stylesheet' type='text/css' href="{% static 'css/style.css' %}" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
  <script type="text/javascript" src="https://unpkg.com/chartjs-plugin-colorschemes"></script>
</head>

<header>
  <div class='logo'>
      <a href="{% url 'app:index' %}">ShareMyBookShelf</a>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2" style="background-color:rgb(229, 230, 243)">
        <a href="{% url 'app:index' %}">Timeline</a>
      </div>
      <div class="col-sm-2" style="background-color:rgb(207, 209, 228);">
        <a href="{% url 'app:post' %}">Share Book</a>
      </div>
      <div class="col-sm-2" style="background-color:rgb(229, 230, 243);">
        <a href="{% url 'app:userdetail' request.user.id %}">My Shelf</a>
      </div>
    {% if user.is_authenticated %}
      <div class="col-sm-2" style="background-color:rgb(207, 209, 228);">
        <a href = "{%url 'account_logout' %}">Log Out</a>
      </div>
    {% else %}
      <div class="col-sm-2" style="background-color:rgb(207, 209, 228);">
        <a href = "{%url 'account_signup' %}">Sign Up</a>
      </div>
      <div class="col-sm-2" style="background-color:rgb(229, 230, 243);">
        <a href = "{%url 'account_login' %}">Log In</a>
      </div>
    {% endif %}
    </div>
  </div>
</header>

<body>
  <div class='content'>{% block content %}{% endblock %}</div>
</body>
<footer>
  <hr>
  <div>
     <span style='float:right'>copyright 2020 Share My Bookshelf</span>
  </div>
</footer>

</html>
