{% extends 'base.html' %}

{% block title %}Index{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
<div>
  <p class='login_user'>Hello, {{ request.user }}</p>
</div>
{% for post in posts %}
<hr>
  <div class='post_content'>
    <div class='message_owner_bar'>
      <p class='message_owner'>{{ post.username }}</p>
    </div>
    <div class='book_content'>
      <div class='isbn'>
        <p class='book_content_isbn_code'>{{ post.isbn_code }}</p>
      </div>
      <div class='review'>
        <p class='book_content_review'>{{ post.review }}</p>
      </div>
      <div class='star'>
        <p class='book_content_star'>{{ post.star }}</p>
      </div>
    </div>
    <div class='message_comment'>
      <div class='comment>'>
        <p class='message_date'>{{ post.post_date }}</p>
      </div>
      <br>
    </div>
  </div>
  {% endfor %}
  <div>
    <a href="{% url 'app:post' %}">新規投稿</a>
  </div>
</div>
{% endblock %}
